@import "tailwindcss";

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
	min-height: 100vh;
	width: 100vw;
	box-sizing: border-box;
}

/* Oculta barra de rolagem em todos navegadores */
::-webkit-scrollbar {
	display: none;
}
body {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

@keyframes blob {
  0% { transform: translate(0px, 0px) scale(1); }
  33% { transform: translate(30px, -50px) scale(1.1); }
  66% { transform: translate(-20px, 20px) scale(0.9); }
  100% { transform: translate(0px, 0px) scale(1); }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-blob {
  animation: blob 7s infinite;
}

.animate-fade-in {
  animation: fadeIn 0.8s ease-out forwards;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}